/*assignment22,26 /*
 /* img{
    height: 180px;
    width: 150px;
}
h2{
    color: brown;
}
.b1{
    color: red;
    text-decoration: underline;
}
span{
    color: blue;}
     */
 
/* img{
    border-radius: 200px ;
    height: 350px;
    width:350px;
    margin-left: 40px; 
}
 */
/* img{
    border-radius: 0px;
    height: 300px;
    width: 300px;
    margin-left: 10px;
} */
/* Assignment 27 */
/* span{
    color:red;

}
h1{
 color: green;
 text-align: center;
} */
/* //Assignment28// */
/* h2{
    color: red;
    text-align: center;
}
h3{
    color: brown;
}
b{
    font-weight: bold;
}
h5{
    font-weight: lighter;
} */
/* //assignment30// */
h3{
    text-align: center;
}
   
